apiVersion: v1
kind: Service
metadata:
  name: ror-poc-service
  namespace: ror-poc
  labels:
    app: ror-poc
    release: prometheus
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "9090"
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
    - port: 9090
      targetPort: 80
      protocol: TCP
      name: metrics
  selector:
    app: ror-poc
