apiVersion: apps/v1
kind: Deployment
metadata:
  name: ror-poc
  namespace: ror-poc
  labels:
    app: ror-poc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ror-poc
  template:
    metadata:
      labels:
        app: ror-poc
    spec:
      containers:
        - name: ror-poc
          image: ror-poc:latest
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 80
          env:
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: ror-poc
                  key: secret_key_base
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgresql
                  key: postgres-password
            - name: RAILS_ENV
              value: development
            - name: POSTGRES_HOST
              value: postgresql
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DB
              value: ror_poc_development
            - name: REDIS_URL
              value: redis://redis:6379/0
            - name: OTEL_SERVICE_NAME
              value: ror-poc
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: http://$(NODE_IP):4318
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "service.name=ror-poc,service.version=1.0.0,deployment.environment=development"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: http/protobuf
            - name: OTEL_TRACES_EXPORTER
              value: otlp
            - name: RAILS_MAX_THREADS
              value: "5"
